# Ignore everything
*

# But not these files...
!.gitignore
!config/
!config/** 
!kubejs/
!kubejs/**
!defaultconfigs/
!defaultconfigs/**

# Mods
!mods/
!mods/**
!minecraftinstance.json
!README.md

# Scripts
!computercraft-scripts/
!computercraft-scripts/**
